* {
    box-sizing: border-box;
}


h2 {
    color: white;
    font-weight: bolder;
}

body{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(175, 174, 164);
    display: grid;
    align-items: center;
    text-align: center;
}
.container {
    max-width: 480px;
    background: rgb(139, 139, 83);
    border-radius: 10px;
    padding: 30px;
    margin: 15px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#output {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 25px;
    text-align: end;
    margin-bottom: 20px;
}
input {
    padding: 12px;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    outline-style: none;
    border: none;
}

.btns-container {
    margin-top: 20px;
}

.btns {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px; 
    margin-top: 10px; 
    margin-bottom:10px;
    font-weight: 700;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.btns:hover{
    color: white;
    background: black;  
    
}

input:hover{
    color: white;
    background: black;
}
#reset {
    background: coral;
    border: none;
}

